@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

:root {
  --appBar-text: #000;
}
body.light {
  background-color: rgb(248, 248, 248);
  color: #000;
  --appBar-bg: #fff;
  --discover-text: #1ca086;
  --wiki-board: rgb(72, 191, 131);
  --visited-a: rgb(0, 88, 129);
}
body.dark {
  background-color: #121212;
  color: #000;
  --appBar-bg: #2d2d2d;
  --appBar-text: #fff;
  --discover-text: #ddd;
  --wiki-board: #2d2d2d;
  --visited-a: rgb(173, 173, 173);
}
.MuiDrawer-paper {
  background-color: var(--appBar-bg) !important;
}
.responsive-image-border {
  /* height: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center; */
}
a:visited {
  color: var(--visited-a);
}
a:hover {
  text-decoration: none !important;
  color: var(--appBar-text);
}
body {
  font-family: 'Rubik', 'Pyidaungsu', sans-serif;
}

.article {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: .5em;
}
@media screen and (max-width: 900px) {
  .article {
   box-shadow: none !important;
  }
}
.article__content {
  padding: 1rem .5rem;
}

.global__space {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  border-radius: .5em;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;
}

.blog__post__items {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
}

a.nav-link:hover {
  cursor: pointer;
}
.nav-tabs, .nav-link {
  border: 0 !important;
}
.nav-link.active {
  background-color: #1ca086 !important;
  color: #fff !important;
  border-radius: 0.25rem;
}

 /* copy in emation/coll */
.article_role_play {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
.author_field {
  padding: .25rem 1rem .25rem 1rem;
}
.author__pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.article__profile {
  margin-left: 12px;
}
.article__name {
  font-weight: 700;
}
.article__meta {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  font-size: inherit;
}
.article__content {
  background-color: #fff;
}
.content__image {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  border-radius: .25rem;
}
.responsive-image-border {
  padding: 10px;
}
.responsive-image {
  height: 200px;
  border-radius: 10px;
}
@media screen and (max-width: 700px) {
  .singal_content, .wiki__article {
    padding: 0 !important;
  }
  .blog__post__items {
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
    /* box-shadow: 3px 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
    box-shadow: -1px 1px 10px 4px rgba(0,0,0,0.16);
  }
}


.reading_type_style {
  margin: 20px auto;
}


.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}