@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu');

body {
  font-family: 'Rubik', 'Pyidaungsu', sans-serif;
}

.article {
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
  border-radius: .5em;
}
.article__content {
  padding: 1rem 1rem;
}

.content__spaces {
  padding: 1rem 1rem;
}

.content__header {
  font-family: 'Rubik', 'Pyidaungsu', sans-serif;
}

.global__space {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  border-radius: .5em;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;
}

a.nav-link:hover {
  cursor: pointer;
}
.nav-tabs, .nav-link {
  border: 0 !important;
}
.nav-link.active {
  background-color: #1ca086 !important;
  color: #fff !important;
  border-radius: 0.25rem;
}