@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu');
a {
  color: #000;
}
a:hover {
  text-decoration: none !important;
  color: #000;
}
body {
  font-family: 'Rubik', 'Pyidaungsu', sans-serif;
}

.article {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: .5em;
}
@media screen and (max-width: 900px) {
  .article {
   box-shadow: none !important;
  }
}
.article__content {
  padding: 1rem .5rem;
}

.content__spaces {
  padding: 1rem 1rem;
}

.content__header {
  font-family: 'Rubik', 'Pyidaungsu', sans-serif;
}

.global__space {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  border-radius: .5em;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;
}

.blog__post__list {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: .25rem;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #fff;
}

a.nav-link:hover {
  cursor: pointer;
}
.nav-tabs, .nav-link {
  border: 0 !important;
}
.nav-link.active {
  background-color: #1ca086 !important;
  color: #fff !important;
  border-radius: 0.25rem;
}

.article_role_play {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
.author__pic {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.article__profile {
  margin-left: 12px;
}
.article__name {
  display: block;
  font-weight: 700;
}
.article__meta {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  font-size: inherit;
}

.content__image {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  border-radius: .25rem;
}

@media screen and (max-width: 700px) {
  .singal_content, .wiki__article {
    padding: 0 !important;
  }
  .blog__post__list {
    box-shadow: none;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
  }
  .content__image {
    box-shadow: none;
    border-radius: 0;
  }
}


.reading_type_style {
  margin: 20px auto;
}